h1,
h3 {
  text-align: center;
}

.container {
  height: 100vh;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  /* border-style: solid; */
}
.operations {
  /* border-style: solid; */
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.input {
  /* padding: 2rem, 5rem; */
  padding-top: 2rem;
  padding-left: 40%;
  padding-right: 40%;
}
.form-control {
  text-align: center;
}

p {
  text-align: center;
  font-size: 2rem;
}

#id {
  text-align: center;
}

ol,
ul {
  padding-left: 6rem;
}
